@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<TaskManager.Core.Models.Topic>

@{
    ViewData["Title"] = "Index";
}

<h1>Tópicos</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <span style="display: inline-block; border-radius: 10%; border: 2px solid @item.GetColorCode(); background: @item.GetColorCode(); padding: 5px;">@item.Color</span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
